html {
    font-family: sans-serif;
}
header {
    height: 100px;
    background-color: red;
    border: 1px solid black;
}
header h1 {
    text-align: center;
}
main {
    margin: 0 auto;
    max-width: 800px;
    background-color: cyan;
    border: 1px solid black;
}
footer {
    height: 100px;
    background-color: blue;
    border: 1px solid black;
}
footer p {
    text-align: center;
    color: white;
}
